$primary-color:rgba(45,19,106,1);
$primary-vh4:rgba(0,41,85,1);
$primary-shape:rgba(32,31,119,1);
$title-color:rgba(47,47,47,1);
$white:rgba(255,255,255,1);
$black:rgba(0,0,0,1);
$content:rgba(141,149,166,1);
$hv3-content:rgba(102,102,102,1);
$span:rgba(62,232,224,1);
$v3-span:rgba(46,90,232,1);
$v5-span:rgba(66,232,224,1);
$v4-span:rgba(0,123,255,1);
$border:rgba(235,235,235,1);
$transition: all 0.3s ease-in-out;
$transition-two: all 0.5s ease-in-out;
$shadow:5px 8.66px 60px 0px rgba( 45, 19, 106, 0.1);
$Poppins:'Poppins', sans-serif;

$title: #2d136a;
$praimari: #2f2f2f;
$secondary: #42e8e0;
$white: #ffffff;
$t_3c:  all 0.3s ease-in-out;
$t_5c:  all 0.5s ease-in-out;